@{
    ViewBag.Title = "Inicial - SIGAVIX";
}

@Scripts.Render(@"~/bundles/utilvalidation")

@Scripts.Render(@"~/bundles/Service/Processo")
@Scripts.Render(@"~/bundles/Service/Empreendimento")
@Scripts.Render(@"~/bundles/Service/AutoDocumento")
@Scripts.Render(@"~/bundles/Service/ProcessoFiscalizacao")

@Scripts.Render(@"~/bundles/Service/Home")
@Scripts.Render(@"~/bundles/Controller/Home")

<script>
    var controllerHome = App.Controllers.Home();
    var namespace = "Home";

    $(function () { controllerHome.Listar(namespace); });
</script>


<div class="conteudo-iframe container home">
    <div class="home">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6 form-group">
                        <label class="labelinput">Tipo de Processo:</label>
                        <select class="form-control" data-bind="options: Home.ComboTipoProcesso, optionsText: 'Text', optionsValue: 'Value', value: Home.CodigoTipoProcesso, optionsCaption: 'Selecione o tipo de processo'"></select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="labelinput">Processo:</label>
                        <input class="form-control sipad" data-bind="value: Home.NumeroProcesso, validationElement: Home.NumeroProcesso, valueUpdate: ['afterkeydown', 'input'], executeOnEnter: function(){{ $('.sipad').trigger('blur'); controllerHome.BuscarProcesso(namespace) }}" placeholder="Informe o Nº do processo" />
                    </div>
                    <div class="col-md-2 right">
                        <button type="button" class="btn btn-default" data-bind="click: function(){{ controllerHome.BuscarProcesso(namespace) }}">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-5 form-group">
                        <label class="labelinput">Tipo de Inscrição:</label>
                        <select class="form-control" data-bind="options: Home.ComboTipoInscricao, optionsText: 'Nome', optionsValue: 'Codigo', value: Home.CodigoTipoInscricao, optionsCaption: 'Selecione o tipo de inscrição'"></select>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="labelinput">Inscrição:</label>
                        <input type="number" class="form-control numero" data-bind="value: Home.NumeroInscricao, validationElement: Home.NumeroInscricao, valueUpdate: ['afterkeydown', 'input'], executeOnEnter: function(){{ controllerHome.BuscarEmpreendimento(namespace) }}" placeholder="Informe o Nº da inscrição" />
                    </div>
                    <div class="col-md-2 right">
                        <button type="button" class="btn btn-default" data-bind="click: function(){{ controllerHome.BuscarEmpreendimento(namespace) }}">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-darkgreen noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-check-square fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorTarefa"></span></div>
                            <div>Tarefas</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listar", "Tarefa")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-blue noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-bell fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorNotificacao"></span></div>
                            <div>Notificações</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listar", "Notificacao")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-yellow noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorAgendamento"></span></div>
                            <div>Compromissos Agendados</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listar", "Agenda")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-green noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorProcesso"></span></div>
                            <div>Meus processos de Licenciamento</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("ListarMeusProcessosLicenciamento", "Processo")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-gray noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-link fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorCondicionante"></span></div>
                            <div>Controle de Condicionantes</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listar", "DicionarioCondicionante")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-orange noBorder">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4 col-xs-6 shortcut-Icons">
                            <i class="fa fa-exclamation-triangle fa-5x"></i>
                        </div>
                        <div class="col-md-8 col-xs-6 text-right">
                            <div class="huge"><span data-bind="text: Home.ContadorFiscalizacao"></span></div>
                            <div>Fiscalização</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Listar", "AutoDocumento")">
                    <div class="panel-footer">
                        <div class="row">
                            <span class="col-md-10 left">Ver detalhes</span>
                            <span class="col-md-2 right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>