@{
    ViewBag.Title = "Inicial - SME";
}

@Scripts.Render(@"~/bundles/utilvalidation")

@*@Scripts.Render(@"~/bundles/Service/Processo")
@Scripts.Render(@"~/bundles/Service/Empreendimento")
@Scripts.Render(@"~/bundles/Service/AutoDocumento")
@Scripts.Render(@"~/bundles/Service/ProcessoFiscalizacao")*@

@*@Scripts.Render(@"~/bundles/Service/Home")
@Scripts.Render(@"~/bundles/Controller/Home")*@

@*<script>
    var controllerHome = App.Controllers.Home();
    var namespace = "Home";

    $(function () { controllerHome.Listar(namespace); });
</script>*@


<div class="conteudo-iframe container home">
    <div class="home">       
    </div>
</div>